.user_block{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90em;
    height: 600px;
    background-color: #edf2f7;
}
.user_foto{
    height: 180px;
    width: 180px;
    text-align: center;
    margin-left: 30px;
}
.user_content{
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    height: 490px;
    background-color: #edf2f7;
    border-radius: 7px;
    align-items: center;
    margin-top: 8%;
}
.user_content h1{
    padding-top: 5%;
    text-align: center;
}
.user_content input{
    margin-top: 10px;
    margin-left: 20px;
    width: 340px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid black;
}
.user_content label{
    margin-left: 10px;
    font-size: 20px;
}
.user_name{
    margin-top: 10px;
    font-size: 22px;
}
.user_change{
    margin-top: 180px;
    width: 180px;
    height: 100px;
    margin-left: 13px;
}
.user_change button{
    margin-top: 20px;
    height: 30px;
    width: 120px;
    border: 0;
    background-color: dodgerblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
.user_change button:hover{
    background-color: #2d3748;
    border:2px solid dodgerblue;
    transition: 0.3s;
    color:white;
}
.user_button_back{
    height: 32px;
    width: 120px;
    background-color: orangered;
    border: 0;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 16px;transition: 0.3s;cursor: pointer;color: white;
}
.user_button_confirm{
    float: right;
    height: 32px;
    width: 120px;
    margin-right: 30px;
    background-color: limegreen;
    border: 0;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;cursor: pointer;
    color: white;
}
.user_button_confirm:hover{
    background-color: #e2e8f0;color: black;
    border: 2px solid limegreen;transition: 0.3s;
}
.user_button_back:hover{
    background-color: #e2e8f0;color: black;
    border: 2px solid orangered;transition: 0.3s;
}
.user_features{
    margin-top: 50px;
    margin-left: 30px;
    height: 200px;
    width: 300px;
}
.user_features p {
    margin-top: 12px;
    font-size: 20px;
}
.user_premium{
    border: 0;
    width: 75px;
    height: 30px;
    margin-left: 10px;
    background-color: darkorange;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;color: white;
}
.premium_img img{
    position: absolute;
    margin-left: 230px;
    margin-top: 100px;
}
.user_premium:hover{
    border: 2px solid darkorange;
    background-color: #e2e8f0;
    color: darkorange;
    font-weight: bold;
}
.user_admin_settings{
    float: right;
    height: 100%;
    width: 200px;
    background-color: #2d3748;
    text-align: center;
}
.user_admin_content{
    float: right;
    height: 100%;
    width: 20px;
    background-color: #718096;
    text-align: center;
}
.user_admin_inner{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.users_block {
    background-color: #4D586A;
    color: white;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
    height: 80px;
    margin-top: 6px;
}
.user_name1{
    width: 90%;
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;
}
.users_block label{
    font-size: 10px;
    font-weight: bold;
}
.users_checkbox{
    margin-right: 25px;
    margin-top: -15px;
    width: 50px;
    height: 40px;
    float: right;
}
.users_checkbox input{
    width: 17px;
    height: 17px;
}
.users_checkbox label{

}
.user_admin_settings p{
    width: 100%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
.user_admin_settings p:hover{
    color: dodgerblue;
    transition: 0.3s;
}
.user_errors{
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    color: orangered;
    margin-top: 2%;
}
.user_errors li{
    margin-top: 10px;
    font-size: 18px;
}
.premium_img:hover .ahtung{
    display: block;
    transition: 0.3s;
}
.button_admin_update{
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    background-color: limegreen;
    color: white;
    height: 25px;
    width: 80px;
}
.user_delete_button{
    width: 70px;
    height: 21px;
    font-size: 12px;
    font-weight: bold;
    background-color: orangered;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}
.block_button_delete{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    text-align: left;
}
.user_create_button{
    margin-left: 20px;
    margin-top: 20px;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    color: white;
    border: 0;cursor: pointer;
    background-color: dodgerblue;
    float: left;
}
.new_user_content{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 550px;
    background-color: #edf2f7;
    border-radius: 7px;
    align-items: center;
    margin-top: 5%;
}
.new_user_content h1{
    text-align: center;
    padding-top: 5%;
}
.new_user_content input{
    margin-top: 10px;
    margin-left: 30px;
    width: 80%;
    height: 25px;
}
.new_user_content label{
    margin-left: 20px;
    font-size: 20px;
}
.user_favorite_block{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.favorite_content{
    width: 100%;
    height: 100px;
}
.favorite_inner{
    float: left;
    border: 0;
    text-align: center;
    width: 90%;
    height: 100px;
    background-color: #4a5568;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;transition: 0.3s;
}
.favorite_inner p{
    padding-top: 5px;
}
.favorite_inner:hover{
    color: dodgerblue;
    transition: 0.3s;
}
.favorite_delete{
    margin-top: -69px;
    margin-right: -35px;
    width: 100px;
    height: 28px;
    float: right;
    color: white;
    background-color: orangered;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(270deg);
}
.favorite_delete:hover{
    border: 3px solid orangered;
    color: white;
    background-color: #718096;
    transition: 0.3s;
}
.admin_pass{
    display: none;
    position: absolute;
    margin-top: -220px;
    margin-left: 550px;
    width: 250px;
    height: 110px;
    background-color: #2d3748;
}
.admin_pass input{
    margin: 20px;
    height: 25px;
    width: 200px;border-radius: 5px;
}
#pass_confirm{
    width: 100px;
    height: 20px;
    margin-left: 20px;
    border: 0;
    background-color: dodgerblue;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
#pass_cancel{
    margin-top: -20px;
    position: absolute;
    width: 100px;
    height: 20px;
    margin-left: 130px;
    border: 0;
    background-color: orangered;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
.update_currency{
    margin-left: 30px;
    margin-top: 10px;
}
.update_currency button{
    border: 0;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 25px;transition: 0.3s;
    border-radius: 5px;
}
.update_currency button:hover{
    border: 2px solid dodgerblue;
    background-color: #e2e8f0;
    color: black;
    transition: 0.3s;
}
